# this is a sample file to be given to u so u work with that
#  in order for u to work with appwrite u have to go to the website called cloud.appwrite.io
#  scroll to the buttom of the page and click doc so u can use it well
REACT_APP_APPWRITE_URL = https://cloud.appwrite.io/v1
REACT_APP_APPWRITE_PROJECT_ID = 
REACT_APP_APPWRITE_DATABASE_ID =
REACT_APP_APPWRITE_COLLECTION_ID = 
REACT_APP_APPWRITE_BUCKET_ID = 